a,.b-title{
    color: #348fe2;
}
.search_btn:hover{
    color: #348fe2;
}
.b-name a{
    color:#2a2a2a;
}
.b-name a:hover{
    color:#348fe2;
}
.page_item{
    border-color: #348fe2;
    background: #348fe2;
    color: #FFF;
}
.page_item:hover{
    background: #FFF;
    color:#348fe2;
}
.page_active{
    background: #FFF;
    color: #348fe2;
}
.code_bar{
    color: #348fe2
}
blockquote{
    border-color: #348fe2;
}
