*,body,html{
    margin:0;
    padding:0;
}
body{
    font-family: -apple-system,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;
    background: #f5f5f5;
}

li{
    list-style-type: none;
}
h1{
    text-shadow: 0rem .16rem .16rem #dedede;
}
h1 small{
    font-size:40%;
}

a:hover{
    text-shadow: .16rem .16rem .16rem #d1d1d1;
}

/* remove changy_ad  */
#pop_ad,.wrap-picture-show-gw,.action-from-gw,.section-service-w{
    display: none;
}

.fork_me{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 101;
}
small, .small{
    font-size: 44%;
}
.pointer{
    cursor: pointer;
}
.pointer:hover{
    color: #777;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
.hidden_id{
    display: none;
}
.container{
    box-shadow: 0rem 0rem 2rem #eaeaea;
    background: #FFF;
    margin-top: 6rem;
    margin-bottom: 10rem;
    padding: 0 3rem 10rem 3rem;
    position: relative;
}
.b-box{
    border: .1rem solid #f5f5f5;
    margin: .6rem 0;
    padding: 1rem;
    background: #FFF;
}
.search_txt{
    margin-left: 1rem;
    width: 90%;
}
.search_btn{
    margin-left: 1rem;
    margin-top: .6rem;
    font-size: 1rem;
    border: .1rem solid #9bcfff;
    padding: .4rem 1rem;
    border-radius: .3rem;
    background: #FFF;
    color: #348fe2;
    width: 7rem;
}
.search_btn:hover{
    background: #9bcfff;
    color: #FFF !important;
}
.bd_search_btn{
    margin-top: .8rem;
    margin-left: .8rem;
}
.bd_search_txt{
    margin-top: 1.2rem;
    font-size: 1.1rem;
    color: #676767;
}
.bd_search_txt:hover{
    text-decoration: underline;
}
.header{
    height: 16rem;
    background: #ffffff;
    margin-top: 5rem;
}
.header_hr{
    margin-bottom: 4rem;
}
.my_info{
    width: 100%;
    height: 18rem;
    line-height: 1.8rem;
}
.b-name{
    margin-left: 2rem;
    margin-top: 1rem;
    line-height: 1.36 !important;
}
.mt{
    margin-top: 2rem;
}
.gray{
    color: #737373;
    font-weight: 300;
    font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei";
}
.tagc{
    text-align: center;
}
.tagr{
    text-align: right;
}
.f_left{
    float: left;
}
.f_right{
    float: right;
}
.clear{
    clear: both;
}
.form-label{
    padding-top:0;
    color: #777;
}
#msg_box{
    display: none;
    width: 100%;
    height: 4rem;
    position: fixed;
    bottom: 0;
    left: 0;
    border-bottom: .1rem solid #ddd;
    z-index: 1000;
}
#msg_txt{
    text-align: center;
    font-size: 2rem;
    line-height: 4rem;
}
.msg_success{
    background: rgba(211, 255, 221, 0.8);
}
.msg_danger{
    background: rgba(255, 177, 177, 0.8);
}
.side_list{
    font-family: initial;
}
.header_total{
    text-align: right;
    font-size: 1.2rem;
    margin-right: 1rem;
    margin-bottom: -1.2rem;
}
#article_list .box{
    width: 100%;
}
#article_list li{
    margin:0 1rem 4rem 0;
    border-top: .2rem solid #FFF;
}
#article_list a:hover{
    text-shadow: none;
}
.list_hover{
    box-shadow: 0 0 .2rem #FFF;
    transition-duration: .8s;
}
.list_hover:hover{
    background: #f5f5f5;
    border-top: .2rem solid #FFF;
    transition-duration: .3s;
}
.box{
    text-align: left;
    border: 1px solid #eaeaea;
}
.box_title{
    font-size: 1.6rem;
    margin-bottom: 2.4rem;
}

.box_info{
    height: 6rem;
    font-size: 1.1rem;
    overflow: hidden;
    color: #4c4c4c;
    margin-bottom: 1.4rem;
    line-height: 2rem;
}

.box_bottom{
    font-size: 1rem;
    font-family: initial;
}
.form-field{
    border:.1rem solid #ddd;
}

ol{
    list-style-type: none;
    counter-reset: sectioncounter;
    margin: 0 0 0 .6rem;
}
ol li:before{
    content:counter(sectioncounter) ". ";
    counter-increment:sectioncounter;
    white-space: normal;
    line-height: 2.1;
    width: 2rem;
}
pre{
    border: none;
    word-wrap: break-word;
    word-break:break-all;
    margin: 1.6rem 0;
    position: relative;
    border-radius: .6rem;
}

.hljs {
    border: 0;
    font-size: 1.1rem;
    display: block;
    padding: 0rem !important;
    margin: 0;
    width: 100%;
    white-space: pre;
    background: #f7f7f7;
}
.hljs ol {
    margin-left:0;
    padding: 2.2rem 2rem 1rem 2rem;
    border-radius: .2rem;
    font-size: 100%;
}
.hljs ol li{
    height: 1.6rem;
    list-style-type: none !important;
}

.hljs ol li:before{
    content:"";
    counter-increment:none;
}
.hljs ol li:last-child{
    height: 3rem;
}
.line_num{
    text-align: right;
}

/* 代码块前添加数字序列 >>>>> 开始 */
/* .line_num:before{
    font-size:.8rem;
    margin-right: .4rem;
    content:counter(sectioncounter) " ";
    counter-increment:sectioncounter;
    width: 6%;
    color: rgba(27,31,35,.3);
    text-shadow: .1rem .1rem 0 #fff;
    line-height: 2;
    height:2rem;
    float: left;
    text-align: center;
    padding-left:.8rem;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
} */
/* 代码块前添加数字序列 <<<<< 结束  */

.code_bar{
    position: absolute;
    top: 0;
    right: 0;
    background: #FFF;
    border-bottom-left-radius: .6rem;
    border: .1rem solid #f8f8f8;
    padding: .3rem .6rem;
    cursor: pointer;
    color: #848484;
    font-size: 1rem;
    margin: 1px;
    border-top-right-radius: .6rem;
}
.code_bar:hover{
    color: #FFF;
    background-color: #999;
}
.copy_btn{
    float: right;
}
.copy_btn:after{
    clear: both;
}
#copy_code{
    border: .16rem solid #FFF;
    width: 0;
    height: 0;
}

.page_bar{
    margin:3rem 0;
    float: right;
}
.page_bar li{
    font-size: 1.06rem;
    float: left;
}
.page_item{
    border: .1rem solid #348fe2;
    border-radius: .3rem;
    background: #348fe2;
    color: #FFF;
    padding: .3rem 1rem;
    margin-right: .7rem;
    margin-top: 1rem;
}
.page_item:hover{
    background: #FFF;
    color:#348fe2;
    border: .1rem solid #ddd;
}
.page_active{
    background: #FFF;
    color: #348fe2;
    border: .1rem solid #ddd;
    border-radius: .3rem;
    padding: .3rem 1rem;
    margin-right: .7rem;
    margin-top: 1rem;
}
.page_dot{
    border-radius: .3rem;
    padding: .2rem 1rem;
    margin-right: .7rem;
    margin-top: 1rem;
}
.p_indent{
    text-indent: 2rem;
}
.b-info a{
    color:#777;
}
.powered{
    position: absolute;
    right:3rem;
    bottom: 4rem;
    font-family: miama;
    padding-right:.4rem;
    font-size: 1rem;
    color: #2a2a2a;
    border-bottom:.2rem dotted #dadada;
    line-height: .5rem;
    text-shadow: 0rem .1rem 1rem #dadada;
}
.powered:hover{
    color:#FF6600;
    cursor: pointer;
}
@font-face {
    font-family: "miama";
    src: url("../lib/font/miama/miama.woff.woff2") format("woff2"),
         url("../lib/font/miama/miama.woff.woff") format("woff"),
         url("../lib/font/miama/miama.woff.ttf") format("truetype"),
         url("../lib/font/miama/miama.woff.eot") format("embedded-opentype"),
         url("../lib/font/miama/miama.woff.svg") format("svg");
}
#blog_body h1,#blog_body h2{
    line-height: 3rem;
    border-bottom: .1rem solid #eaecef;
    padding-bottom: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
#blog_body h3,#blog_body h4,#blog_body h5,#blog_body h6{
    line-height: 2rem;
    margin-top: 2.2rem;
}
#blog_body h1{
    font-size: 2.2rem;
}
#blog_body h2{
    font-size: 2rem;
}
#blog_body h3{
    font-size: 18px;
}
#blog_body{
    border-radius: .4rem;
    padding: 2rem 2.6rem;
    margin: 2rem 0;
    border: .1rem solid #e1e4e8;
}
#blog_body ol{
    list-style-type: decimal;
}
#blog_body ul li{
    list-style-type: disc;
    margin-left: 2rem;
}
.scroll_top{
    display: none;
    position: fixed;
    right: 3%;
    bottom: 3%;
    width: 4rem;
    height: 4rem;
    line-height: 5.5rem;
    color: rgb(131, 131, 131);
    text-align: center;
    cursor: pointer;
    border-radius: 3rem;
    box-shadow: 0 0 .5rem rgb(218, 218, 218);
    background: rgba(255, 255, 255, .3);
}
.scroll_top:hover{
    box-shadow: 0 0 .8rem rgb(175, 175, 175);
}
@media(max-width: 576px){
    .container{
        padding-left:0 !important;
        padding-right:0 !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    .box{
        padding: 1rem;
        text-align: left;
    }
    .box_title{
        font-size: 1.4rem !important;
        margin-bottom:1.3rem;
    }
    .fork_me img{
        width: 30%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 101;
    }
    .box_info{
        line-height: 2rem !important;
    }
    .hljs ol li{
        height: auto;
        list-style-type: none !important;
    }
}